<section class="medium-posts">
  <h2>Medium posts</h2>
  <ul class="medium-posts__list">
    <li v-for="post in mediumPosts" class="medium-posts__card">
      <a :href="post.link" class="medium-posts__card-link">
        <div>
          <span class="medium-posts__card-eyebrow">
            {{ post.updated }}
          </span>
          <h3 class="medium-posts__card-title">
            {{ post.title }}
          </h3>
          <p class="medium-posts__card-categories">
            <span v-for="(category, index) in post.categories">
              {{ category }}<span v-if="index != post.categories.length - 1"
                >,
              </span>
            </span>
          </p>
          <h4 class="medium-posts__card-content-title">Preview:</h4>
          <div class="medium-posts__card-content" v-html="post.content"></div>
        </div>
        <div class="medium-posts__card-button">
          Go to post
        </div>
      </a>
    </li>
  </ul>
</section>
