.hero {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  .hero__bio {
    flex: 0 0 100%;
    max-width: 100%;

    @include from(md) {
      flex: 0 0 50%;
      max-width: 50%;
      height: auto;
    }

    h1 {
      margin-bottom: 30px;
    }

    h2 {
      margin-bottom: 20px;
    }

    .link-huge {
      text-decoration: none;
      color: map-get($colors, 'pink-huge');
    }

    .link-mail {
      text-decoration: none;
      color: map-get($colors, 'black');
    }

    p {
      margin-bottom: 10px;
    }

    ul {
      list-style-type: disc;
      padding-left: 20px;
      margin-bottom: 20px;
    }

    li {
      margin-bottom: 5px;
    }
  }

  .hero__bio-content {
    height: calc(100% - 20px);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    padding: 30px;
    margin: 20px;

    h1, h2, p, a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @include from(md) {
      margin: 50px;
      width: calc(100% - 100px);
      height: calc(100% - 100px);
    }
  }

  .hero__image-container {
    flex: 0 0 100%;
    max-width: 100%;

    @include from(md) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  .hero__image {
    max-height: 700px;
    width: 100%;
    object-fit: cover;
  }
}
